[user]
	name = Shantela21
	email = shantelaslie@gmail.com
[gui]
	recentrepo = C:/Users/Trainee/african-it-blog
[core]
	editor = \"C:\\Users\\Trainee\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
